<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ 'BCC Cron Manager' | trans({}, 'BCCCronManagerBundle') }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% stylesheets
        '@bootstrap_less'
        '@BCCCronManagerBundle/Resources/public/css/main.css'
        combine=true
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('BCCCronManagerBundle_index') }}">{{ 'BCC Cron Manager' | trans({}, 'BCCCronManagerBundle') }}</a>
        </div>
    </div>
</div>

<div class="container">
    {% for flashMessage in app.session.flashbag.get('notice') %}
          <div class="alert alert-info">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
          <div class="alert alert-error">{{ flashMessage }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</div>

<div class="modal hide" id="modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">×</a>
        <h3></h3>
    </div>
    <div class="modal-body">
        <pre style="height: 200px; overflow: auto;">test</pre>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">{{ 'Close' | trans({}, 'BCCCronManagerBundle') }}</a>
    </div>
</div>
{% javascripts
    '@jquery_js'
    '@bootstrap_js'
    '@BCCCronManagerBundle/Resources/public/js/script.js'
    combine=true
%}
     <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>